.header {
    grid-area: header;
    background-color: rgba(175, 162, 154, 1);
    padding: 15px;
    display: grid;
    grid-template: 1fr / 1fr minmax(auto, 300px) minmax(auto, 1100px) 1fr;
    align-items: center;
    &__logo {
        grid-column: 2 / 3;
        width: 70px;
        height: 70px;
    }
    &__menu {
        grid-column: 3 / 4;
    }
    &__list {
        display: grid;
        grid-auto-flow: column;
        justify-items: end;
        li {
            margin-left: 30px;
        }
    }
    &__link {
        color: #ffffff;
        font-size: 18px;
    }
}