@media (min-width: 768px){
    .main {
        grid-area: main;
        display: grid;
        grid-template: 1fr / 1fr minmax(auto, 300px) minmax(auto, 1100px) 1fr;
    }
    .sidebar {
        grid-column: 2 / 3;
        margin-bottom: 0;
        &__list {
            li {
                margin-bottom: 35px;
                cursor: pointer;
                font-size: 18px;
            }
        }   
    }
    .content {
        grid-column: 3 / 4;
        padding-left: 20px;
    }
    .gallery {
        &__item {
            &_big {
                grid-column: span 2;
                grid-row: span 2;
            }
        }
    }
}

@media (max-width: 767px){
    .header {
        &__menu {
            display: grid;
            justify-items: end;
        }
        &__list {
            display: none;
        }
        &__burger {
        width: 30px;
        display: grid;
        align-items: center;
        grid-template: repeat(3, 8px) / 1fr;
        &:before {
            content: "";
            height: 2px;
            width: 30px;
            background-color: #fff;
        }
        &:after {
            content: "";
            height: 2px;
            width: 30px;
            background-color: #fff;
        }
        span {
            height: 2px;
            width: 30px;
            background-color: #fff;
        }
        }
    }
}

@media (min-width: 425px){
    .footer {
        &_copy {
            grid-column: 2 / 3;
        }
        &_text {
            grid-column: 3 / 4;
            text-align: right;
        }
    }
}

@media (max-width: 424px){
    .footer {
        grid-template: 1fr 1fr / 1fr;
        text-align: center;
        &_copy {
            order: 2;
        }
        &_text {
            order: 1;
        }
    }
}